body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
img {
  opacity: 90%;
}

.hero-overlay {
  position: relative;
  bottom: 300px;
  font-size: 5rem;
  color: #f4f4f4;
  text-align: center;
  line-height: 0.8;
  font-weight: 800;
}

nav {
  position: fixed;
  z-index: 9;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: baseline;
}

footer {
  color: #b3a394;
  height: 100px;
  z-index: 9;
  padding: 30px;
  background-color: #efe4d7;
}

.ft-text {
  font-size: 0.7rem;
}

.ft-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #ccbaaa;
  position: relative;
  left: 25%;
  gap: 20px;
  width: 300px;
}
a {
  text-decoration: none;
  color: #ccbaaa;
}
.title,
.ab-nav {
  position: relative;
  top: 5px;
  font-weight: 800;
  float: left;
  font-size: 1.5rem;
  color: rgb(246, 184, 102);
}

.header {
  position: relative;
  z-index: 1;
  background-color: white;
  opacity: 80%;
}

.tab {
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  background-color: rgba(142, 106, 102, 0.445);
  padding: 19px;

  font-size: 1.3rem;
  color: #fdfdfd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.serv-grid {
  /* width: 100vw; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 50px;
  background-color: #f5f5f5;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px;
  border-radius: 20px;
  text-align: center;
  color: #625d5dbe;
}

.one {
  color: #ffffff;
  background-color: #ccbaaa;
  padding-bottom: 90px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.two {
  color: #625d5dbe;
  background-color: #efe4d7;
  /* background-color: #e4beb4e0; */
}

.three {
  color: #625d5dbe;
  background-color: rgba(200, 161, 156, 0.767);
}

.about {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  background-color: white;
  padding: 4rem 4rem;
  color: #483836;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #7a7372;
  position: relative;
  gap: 20px;
}

.column {
  margin-top: 30px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  left: 20%;
}

.name {
  position: relative;
  bottom: 90px;
  right: 30px;
}

.desc {
  line-height: 1.5;
  padding: 50px;
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 40px;
  height: 250px;
  font-weight: 200;
}

.about-img {
  position: relative;
  right: 90px;
  width: 130%;
}

.initial {
  font-weight: 800;
  position: relative;
  float: right;
  top: 50px;
  font-size: 3rem;
  color: burlywood;
}

.sub-text {
  font-family: "Poppins", sans-serif;

  font-size: 1rem;
  position: relative;
  /* top: 130px; */
  line-height: 1.5;
  color: #ffffff;
  font-weight: 200;
}

.tsc {
  align-items: center;
  height: 100vh;
}

.abt-name {
  font-weight: 800;
  font-size: 2rem;
  color: rgb(246, 184, 102);
}

.pkg {
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.square {
  background-color: #e4beb4e0;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  margin-left: 30%;
}

.abt-pg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  position: relative;
}

.abt-txt {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  width: 500px;
  line-height: 1.5;
}

#connect {
  background-color: #fdf2e8;
}

@media screen and (max-width: 500px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    padding: 10px;
  }

  .name {
    display: none;
  }

  .column {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    left: 10px;
  }

  .hero-overlay {
    position: relative;
    top: 250px;
    font-size: 3rem;
    color: rgba(87, 69, 91, 0.706);
    font-weight: 800;
    line-height: 1;
    /* left: 20px; */
  }

  .sub-text {
    width: 280px;
    font-size: 0.8rem;
    position: relative;
    top: 30px;
    line-height: 1.3;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #535251;
  }

  .card {
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    padding-bottom: 80px;
    align-items: center;
  }

  .about-img {
    margin-top: 70px;
    margin-left: 50px;
    width: 110%;
  }

  .services {
    margin-top: 0px;
    padding: 0px;
  }
  .serv-grid {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .dsk-img {
    display: none;
  }

  .header {
    height: 100vh;
    background-image: url("./mbImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    gap: 20px;
    width: min-content;
    left: 25%;
  }

  .abt-txt {
    line-height: 1.2;
    color: #5e5a59;
    text-align: center;
    background-color: transparent;
    width: 370px;
  }

  #connect {
    padding-top: 30%;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .square {
    background-color: #e4beb4e0;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    padding: 30px;
    margin-left: 5%;
  }

  .trupti {
    width: 300px;
  }

  footer {
    font-size: 1rem;
    text-align: center;
    color: #9e9083;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #7a7372;
    position: relative;
  }
}
