body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
img {
  opacity: 90%;
}

.hero-overlay {
  position: relative;
  bottom: 300px;
  font-size: 5rem;
  color: #f4f4f4;
  text-align: center;
  line-height: 0.8;
  font-weight: 800;
}

nav {
  position: fixed;
  z-index: 9;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: baseline;
}

.ft-text {
  font-size: 0.7rem;
}

.ft-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #ccbaaa;
  position: relative;
  left: 25%;
  gap: 20px;
  width: 300px;
}
a {
  text-decoration: none;
  color: #ccbaaa;
}
.title,
.ab-nav {
  position: relative;
  top: 5px;
  font-weight: 800;
  float: left;
  font-size: 1.5rem;
  color: rgb(246, 184, 102);
}

.header {
  position: relative;
  z-index: 1;
  background-color: white;
  opacity: 80%;
}

.tab {
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  background-color: rgba(142, 106, 102, 0.445);
  padding: 19px;

  font-size: 1.3rem;
  color: #fdfdfd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.serv-grid {
  /* width: 100vw; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 50px;
  background-color: #f5f5f5;
}
.card {
  display: grid;
  grid-template-columns: 1fr;

  border-radius: 20px;
  text-align: center;
  color: #907367;
  padding: 2.3rem;
}
.consult {
  display: none;
}
.one {
  color: #ffffff;
  background-color: rgba(198, 173, 149, 0.395);
  padding-bottom: 90px;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.two {
  color: #625d5dbe;
  background-color: #efe4d7;
  /* background-color: #e4beb4e0; */
}

.three {
  color: #625d5dbe;
  background-color: rgba(223, 182, 176, 0.767);
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* 

  color: #483836; */
}

.col-1 {
  width: 100%;
  background-color: #fdf2e8;
  /* padding: 4rem; */
}
.col-2 {
  padding: 5rem;
  width: 100%;
  background-color: #ddcecc;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #7a7372;
  position: relative;
  gap: 20px;
}

.column {
  margin-top: 30px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  left: 20%;
}

.name {
  position: relative;
  bottom: 90px;
  right: 30px;
}

.desc {
  font-weight: 200;
  padding: 70px 40px;
  position: relative;
  top: 8rem;
  height: 400px;
}

.about-img {
  position: relative;
  right: 90px;
  width: 130%;
}

.initial {
  font-weight: 800;
  position: relative;
  float: right;
  top: 50px;
  font-size: 3rem;
  color: burlywood;
}

.sub-text {
  font-family: "Poppins", sans-serif;

  font-size: 1rem;

  line-height: 1.5;
  color: #6e6d6b;
  font-weight: 200;
}

.tsc {
  align-items: center;
  height: 100vh;
}

.abt-name {
  font-weight: 800;
  font-size: 2rem;
  color: rgb(246, 184, 102);
}

.pkg {
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.trupti {
  position: relative;

  width: 40%;
  border-radius: 50%;
}
.square {
  display: none;
}

.abt-form {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  width: 400px;
  color: #5e5a59;
  background-color: #fdf2e8;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
}
input,
textarea {
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f2e9e1;
  padding: 8px;
  width: 350px;
}

label {
  font-size: 0.6rem;
}

textarea {
  height: 120px;
}

.abt-pg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  position: relative;
  margin-top: 0px;
}

.abt-txt {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  /* width: 400px; */
  line-height: 1.5;
  font-size: 0.8rem;
}

.sb-serv {
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 0px;
  color: #6f6f6f;
  font-weight: 400;
}
#connect {
  background-color: #fdf2e8;
}
#video {
  display: none;
}

.pkg-one {
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding-bottom: 25px;
  color: #9073679c;
}

.consult {
  display: none;
}

.services {
  padding-top: 20px;
  display: block;
  margin-top: 0px;
  background-color: #f8dcd4e0;
  color: #8a8275f0;
  text-align: center;
  /* display: none; */
}

.title-serv {
  font-weight: 800;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  padding-top: 80px;
}
.pg-serv {
  line-height: 1.5;
  padding: 10px;
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 0px;
  /* height: 300px; */
  font-weight: 200;
}
.book-btn {
  background-color: #fdfdfd;
  border: none;
  padding: 20px;
  border-radius: 10px;
  color: #ccbaaa;
}

.book-btn:hover {
  color: whitesmoke;
  background-color: #ccbaaa;
}

@media screen and (max-width: 500px) {
  .col-2 {
    padding: 0px;
  }

  .sv-icon {
    /* position: relative;
    bottom: 30px; */
  }

  .book-btn {
    position: relative;
    bottom: 130px;
    background-color: #fdfdfd;
    border: none;
    padding: 0px;
    border-radius: 10px;
    color: #ccbaaa;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
    position: relative;
    height: 100vh;
    align-items: center;
  }
  .abt-form {
    width: 290px;
    text-align: center;
    margin-left: 25px;
    margin-top: 20px;
  }

  input,
  textarea {
    width: 270px;
  }
  .name {
    display: none;
  }

  .column {
    display: none;
  }
  #video {
    display: block;
    width: 100%;
  }

  .consult {
    padding-top: 3rem;
    display: block;
    width: 100%;
  }
  .hero-overlay {
    position: relative;
    bottom: 350px;
    font-size: 3rem;
    color: rgb(229, 229, 229);
    font-weight: 800;
    line-height: 1;
    /* left: 20px; */
  }

  .sub-text {
    width: 280px;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #6e6d6b;
    padding: 2rem;
  }

  .card {
    padding: 0px;
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    height: 80vh;
    font-size: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .about-img {
    display: none;
    /* margin-top: 70px; */
    /* margin-left: 50px; */
  }
  .tab {
    display: block;
    position: relative;
    top: 50px;
    z-index: 9;
    background-color: #483836;
  }

  .two {
    color: #625d5dbe;
  }
  .services {
    padding-top: 20px;
    display: block;
    margin-top: 0px;
    background-color: #e4beb4e0;
    color: #6f624ef0;
    text-align: center;
  }

  .pkg {
    font-weight: 800;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  .title-serv {
    font-weight: 800;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    padding-top: 80px;
  }
  .pg-serv {
    line-height: 1.5;
    padding: 10px;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 0px;
    height: 300px;
    font-weight: 200;
  }
  .serv-grid {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    background-color: #f5e5de;
  }

  .dsk-img {
    display: none;
  }

  .header {
    height: 80vh;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    gap: 20px;
    width: min-content;
    left: 25%;
  }

  .abt-txt {
    line-height: 1.5;
    color: #5e5a59;
    text-align: center;

    padding: 1.5rem;
  }

  .trupti {
    width: 50%;
    position: relative;
    left: 0px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #7a7372;
    position: relative;
  }

  .initial {
    font-weight: 800;
    position: relative;
    float: right;
    top: 20px;
    font-size: 1rem;
    padding-bottom: 30px;
  }
}
